html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#game, header{
    text-align: center;
}

#clear{
    margin: 10px;
}

#container{
    width: 512px;
    height: 512px;
    margin: 0 auto;
}

.grid{
    box-sizing: border-box;
    outline: 1px solid #6e6e6e;
    float: left;
}

