*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding: 15px;
    color: #fff;
}

#game, header{
    text-align: center;   
}

button, input{
    margin: 25px 5px 0;
}

#table{
    margin: 15px auto;  
    box-sizing: content-box;
    background: #8a0303;
    width: 580px;
    height: 640px;
    border-radius: 5% 5% 8% 8%;
}

#container{
    box-sizing: content-box;
    margin: 0 auto;
}

.grid{
    box-sizing: border-box;
    outline: 1px solid #6e6e6e;
    float: left;
}